 
body {
  background-color: #181825;
  color: #fff;
}


button {
  background: none;
  border: none;
  font-weight: bold;
  color: #fff;
}

input {
  background: #313244;
  border: none;
  color: #fff;
}


.center {
  text-align: center;
  width: 70%;
  margin: auto;
  background: #1e1e2e;
  color: #fff;
  font-size: 1.15em;
}
